<div class="flex flex-col justify-center items-center w-full">

  <div class="flex mt-8">Default button</div>
  <div class="flex mt-2">
    <div class="px-5">
      <sc-button color="blue">Blue</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="dark">Dark</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="light">Light</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="red">Red</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="yellow">Yellow</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="green">Green</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="purple">Purple</sc-button>
    </div>
  </div>

  <div class="flex mt-8">Button pills</div>
  <div class="flex mt-2">
    <div class="px-5">
      <sc-button appearance="pills">Blue</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="dark" appearance="pills">Dark</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="light" appearance="pills">Light</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="red" appearance="pills">Red</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="yellow" appearance="pills">Yellow</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="green" appearance="pills">Green</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="purple" appearance="pills">Purple</sc-button>
    </div>
  </div>

  <div class="flex mt-8">Outline</div>
  <div class="flex mt-2">
    <div class="px-5">
      <sc-button appearance="outline">Blue</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="dark" appearance="outline">Dark</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="light" appearance="outline">Light</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="red" appearance="outline">Red</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="yellow" appearance="outline">Yellow</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="green" appearance="outline">Green</sc-button>
    </div>
    <div class="px-5">
      <sc-button color="purple" appearance="outline">Purple</sc-button>
    </div>
  </div>

  <!-- New Size Examples -->
  <div class="flex mt-8">Sizes for Default Appearance</div>
  <div class="flex mt-2">
    <div class="px-5">
      <sc-button size="xs" color="blue">XS Default</sc-button>
    </div>
    <div class="px-5">
      <sc-button size="sm" color="blue">SM Default</sc-button>
    </div>
    <div class="px-5">
      <sc-button size="base" color="blue">Base Default</sc-button>
    </div>
    <div class="px-5">
      <sc-button size="lg" color="blue">LG Default</sc-button>
    </div>
    <div class="px-5">
      <sc-button size="xl" color="blue">XL Default</sc-button>
    </div>
  </div>

  <div class="flex mt-8">Sizes for Pills Appearance</div>
  <div class="flex mt-2">
    <div class="px-5">
      <sc-button appearance="pills" size="xs" color="blue">XS Pills</sc-button>
    </div>
    <div class="px-5">
      <sc-button appearance="pills" size="sm" color="blue">SM Pills</sc-button>
    </div>
    <div class="px-5">
      <sc-button appearance="pills" size="base" color="blue">Base Pills</sc-button>
    </div>
    <div class="px-5">
      <sc-button appearance="pills" size="lg" color="blue">LG Pills</sc-button>
    </div>
    <div class="px-5">
      <sc-button appearance="pills" size="xl" color="blue">XL Pills</sc-button>
    </div>
  </div>

  <div class="flex mt-8">Sizes for Outline Appearance</div>
  <div class="flex mt-2">
    <div class="px-5">
      <sc-button appearance="outline" size="xs" color="blue">XS Outline</sc-button>
    </div>
    <div class="px-5">
      <sc-button appearance="outline" size="sm" color="blue">SM Outline</sc-button>
    </div>
    <div class="px-5">
      <sc-button appearance="outline" size="base" color="blue">Base Outline</sc-button>
    </div>
    <div class="px-5">
      <sc-button appearance="outline" size="lg" color="blue">LG Outline</sc-button>
    </div>
    <div class="px-5">
      <sc-button appearance="outline" size="xl" color="blue">XL Outline</sc-button>
    </div>
  </div>

  <div class="flex mt-8">With icons (Preferably from hero icon)</div>
  <div class="flex mt-2">

    <div class="px-5">
      <sc-button iconName="phone" color="blue" cssClass="px-20">Blue Phone Icon</sc-button>
    </div>
    <div class="px-5">
      <sc-button [disabled]="true" iconName="moon" color="yellow" size="sm">Disabled Moon Icon</sc-button>
    </div>
  </div>
</div>
