<div class="p-5">

  <div class="grid grid-cols-5">
    <sc-button color="light" (buttonClick)="infoDialog()">Info Dialog</sc-button>
    <sc-button color="red" (buttonClick)="alertDialog()">Alert Dialog</sc-button>
    <sc-button color="green" (buttonClick)="successDialog()">Success Dialog</sc-button>
    <sc-button color="yellow" (buttonClick)="errorDialog()">Error Dialog</sc-button>
    <sc-button color="blue" (buttonClick)="confirmationDialog()">Confirmation Dialog</sc-button>
  </div>
</div>
