<div>
  <!-- Table without row highlighting -->
  <div class="my-5 text-center font-bold">Default Table (No Row Highlighting)</div>
  <sc-table
    [columns]="columns"
    [data]="data"
    [config]="{highlightRows: false}"
  ></sc-table>
</div>

<div>
  <!-- Table with row highlighting -->
  <div class="my-5 text-center font-bold">Row Highlighting Enabled</div>
  <sc-table
    [columns]="columns"
    [data]="data2"
    [config]="{highlightRows: true}"
  ></sc-table>
</div>

<div>
  <!-- Table with row highlighting -->
  <div class="my-5 text-center font-bold">Custom Style Table</div>
  <sc-table
    [columns]="customColumns"
    [data]="data3"
    [config]="customStylingConfig"
  ></sc-table>
</div>

<ng-template #actionCell let-row="row" let-index="index">
  <div class="flex items-center space-x-2 justify-center">
    <a
      href="#"
      class="font-medium text-blue-600 dark:text-blue-500 hover:underline flex items-center space-x-1"
      (click)="onEdit(row)">
      <sc-icon name="pencil-square" class=""/>
    </a>
    <a
      href="#"
      class="font-medium text-red-600 dark:text-red-500 hover:underline"
      (click)="onDelete(row)">
      <sc-icon name="trash" class="text-red-700"/>
    </a>
    <div>This is a <b>custom</b> <span class="text-green-700"> template</span></div>
  </div>
</ng-template>
